[Service]
EnvironmentFile=-{% if ansible_os_family == "RedHat" %}/etc/sysconfig/docker{% else %}/etc/default/docker{% endif %}

ExecStart=
{% if (current_docker_version is undefined) or (current_docker_version | version_compare('1.12', '>=')) %}
ExecStart=/usr/bin/dockerd $OPTIONS \
          $DOCKER_STORAGE_OPTIONS \
          $DOCKER_NETWORK_OPTIONS \
          $BLOCK_REGISTRY \
          $INSECURE_REGISTRY
{% else %}
ExecStart=/usr/bin/docker daemon -H fd:// $OPTIONS \
          $DOCKER_STORAGE_OPTIONS \
          $DOCKER_NETWORK_OPTIONS \
          $BLOCK_REGISTRY \
          $INSECURE_REGISTRY
{% endif %}
