<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
        <dict>
            <key>HOME</key>
            <string>/Users/{{ jenkins_user_name }}</string>
            {# PATH+TOOLS is workaround to update slave agent PATH during build runs, https://issues.jenkins-ci.org/browse/JENKINS-41339 #}
            <key>PATH+TOOLS</key>
            <string>{{ jenkins_slave_user_path_environment_variable_value }}</string>
        </dict>
    <key>Username</key>
    <string>{{ jenkins_user_name }}</string>
    <key>GroupName</key>
    <string>{{ jenkins_user_group }}</string>
    <key>Label</key>
    <string>{{ jenkins_slave_service_config_file_name | regex_replace('.plist.*', '') }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <!--string>-Dhudson.remoting.Launcher.pingIntervalSec=-1</string-->
        <!--string>-Xms2g</string-->
        <!--string>-Xmx2g</string-->
        <string>-jar</string>
        <string>{{ jenkins_slave_root_folder_path }}/{{ jenkins_slave_binary_name }}</string>
        <!--string>-noReconnect</string-->
        <string>-jnlpUrl</string>
        <string>{{ jenkins_slave_jnlp_url | join('') }}</string>
        <string>-secret</string>
        <string>{{ jenkins_slave_jnlp_secret.content | regex_replace('Result: ', '') | trim }}</string>
    </array>
    <key>KeepAlive</key>
    <!--dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict-->
    <key>RunAtLoad</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>{{ jenkins_slave_logs_folder_path }}/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ jenkins_slave_logs_folder_path }}/error.log</string>
</dict>
</plist>